<!DOCTYPE html>
<center>
  <hmtl lang"en" dir=ltr">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="<%= url("/style/style.css")%>"></head>
      <meta charset="utf-8">
      <title></title>
      <body>
        <h1 id="title">🤙</h1>
        <div id="indv_msg">
          <%= @message.display_time%><br>
          <hr>
          <%= @message.content %><br>
          <hr>
          <%= erb(:update, :locals => { :object => @message.id }) %>
          <%= erb(:delete, :locals => { :object => @message.id }) %>
        </div>
      </body>
    </center>
